* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body, input, select, textarea {
    font-family: arial;
    font-size: 15px;
    line-height: 1.5em;
    background-image: url(img/background.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    color: white;
}


.container {
    margin: auto;
    overflow: auto;
    width: 100%;
    min-height: 630px;
    background-color: rgba(0, 0, 0, 0.473);
}

ol, ul {
    list-style: none;
}


strong, b {
    color: #3d4449;
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Turret Road', cursive;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0;
}

h1 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

hr {
    border: 0;
    border-bottom: solid 1px black;
    margin: 2em 0;
    margin-left: 10%;
    width: 80%;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    /*align-items: stretch;*/
}

.row>* {
    box-sizing: border-box;
}

.row.aln-left {
    justify-content: flex-start;
}

.row.aln-center {
    justify-content: center;
}

.row.aln-right {
    justify-content: flex-end;
}

section.special,
article.special {
    text-align: center;
}

header p {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: uppercase;
}

.row.aln-top {
    align-items: flex-start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: flex-end;
}

.row>.col-1 {
    width: 8.33333%;
}


.row>.col-2 {
    width: 16.66667%;
}


.row>.col-3 {
    width: 25%;
}


.row>.col-4 {
    width: 33.33333%;
}


.row>.col-5 {
    width: 41.66667%;
    margin-left: 5%;
}


.row>.col-6 {
    width: 50%;
}


.row>.col-7 {
    width: 58.33333%;
}


.row>.col-8 {
    width: 66.66667%;
}


.row>.col-9 {
    width: 75%;
}


.row>.col-10 {
    width: 83.33333%;
}


.row>.col-11 {
    width: 91.66667%;
}

.row>.col-12 {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.row {
    margin-top: 0;
    margin-left: -1.5em;
}

.row>* {
    padding: 0 0 0 1.5em;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.image {

    border: 0;
    display: inline-block;
    position: relative;
}

.image img {

    display: block;
}

.image.left,
.image.right {
    max-width: 40%;
}

.image.left img,
.image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 0 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

#main {
    flex-shrink: 1;
    width: 100%;
}

#main>.inner {
    padding: 0 6em 0.1em 6em;
    margin: 0 auto;
    max-width: 110em;
}

#main>.inner>section {
    padding: 6em 0 4em 0;
    border-top: solid 2px rgba(210, 215, 217, 0.75);
}

#main>.inner>section:first-of-type {
    border-top: 0 !important;
}

/* header */
header,
.subheader {
    width: 100%;
    padding-bottom: 20px;
    display: block;
    clear: both;
    float: none;
}

nav {
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    width: 100%;
    display: block;
    background: rgb(5,81,161);
    background: linear-gradient(90deg, rgba(5,81,161,1) 0%, rgba(255,255,255,1) 35%, rgba(0,212,255,1) 100%);
    padding-bottom: 30px;
    padding-top: 30px;
}

nav .project-title:first-child,
nav .gallery-title:first-child,
nav .page-title:first-child,
nav .logo:first-child {
    padding-left: 0 !important;
}

nav .page-title,
nav .gallery-title,
nav .project-title,
nav .link-title,
nav .social,
nav .social li {
    display: inline-flex;
    vertical-align: middle;
}

nav .gallery-title {
    padding-right: 40px;
    padding-left: 40px;
}

nav .gallery-title a.active {
    color: #963c03;
    font-style: normal;
    font-weight: 500;
}

nav .gallery-title a {
    color: #999999;
    background-color: rgba(4, 12, 121, 0.411);
    border-radius: 10px;
    font-family: fbft;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

nav .page-title {
    padding-right: 40px;
    padding-left: 40px;
}

nav .page-title a:hover {
    color: rgb(51, 204, 204);
    transition: color 0.2s ease;
}

nav .page-title a {
    color: #3e035e;
    font-family: fbft;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

aside {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

article {
    text-align: left;
}

/*slide*/


*{box-sizing: border-box }

img{

max-width:100%

}

#steamlogo{
    width: 50px;
    height: 50px;
}

#steamlink{
    color: white;
}
#ffxivlogo{
    width: 100px;
    height: 100px;
}



#slideshow{
overflow: hidden;
max-width: 700px;
margin: 2rem auto;
position: relative

}
    
#slideshow ul{

padding-bottom: 66.67%;/* ratio pour le responsive */
margin: 0;
list-style-type: none;
position: relative
	
}
    
    
#slideshow li{

top: 0;
left: 0;
animation: slideshow 25s ease infinite;
position: absolute;
opacity: 0;
}
  
#slideshow li:nth-child(2){

animation-delay: 5s

}

#slideshow li:nth-child(3){

    animation-delay: 10s
    
}
    
#slideshow li:nth-child(4){
    
    animation-delay: 15s
    
}
    
#slideshow li:nth-child(5){
    
    animation-delay: 20s
    
}
    
@keyframes slideshow{
	
0%{opacity: 0}

10%{opacity: 1}

20%{opacity: 1}

25%{opacity: 0}

100%{opacity: 0}
	
} 

/*footer*/

@font-face{
    font-family: 'reseaux.ttf';
    src: url('img/reseaux.ttf');
}
.reseaux {
    font-family: 'reseaux.ttf';
    font-size: 30px;
    text-decoration: none;
    display: block;
     align-items: center;
    padding-top: 10px;
    padding-left: 30px;
  
}

.reseaux li{
    display: inline-flex;
   
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none;
    background: rgb(5,81,161);
    background: linear-gradient(90deg, rgba(5,81,161,1) 0%, rgba(255,255,255,1) 35%, rgba(0,212,255,1) 100%);
    margin-top: 10px;
    
}
footer a{
    text-decoration: none;
    color:rgb(51, 204, 204);
   
}

.pagetop{
    color: red;
    background-color: black;
    border-radius: 5px;
}
.pagetop:visited{
    color: red
}

/* Cards */
.card {
    width: 360px;
    height: 260px;
    
    padding: 1.5rem;
    background: white;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card h1 {
    color: rgb(19, 141, 100);
}

.card:hover {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
   
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}

.card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}

.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.card .info a:-webkit-any-link  {
    text-decoration: none;
    color: inherit;
}
.card .info h1 {
    margin: 0px;    
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    
}

.card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.card .info button:hover {
    background: dodgerblue;
    color: white;
    text-decoration: none;
}

.row-card {
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
 }

 /* Effets sur card */

.twAudessus {
    /* Le trame de fond */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
}

.twAudessus a {
    /* Le truc pour centrer l’image */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.twAudessus img {
    /* Le contour de l’image */
    width: 70%;
    padding: 10px;
    background: #ffffff;
}

/* Selecteur « target pour afficher l’image » */
.twAudessus:target {
    display: table;
}

/*form*/

.form-style-10 {
    width: 450px;
    padding: 30px;
    margin: 40px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-style-10 .inner-wrap {
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}

.form-style-10 h1 {
    background: #e0402a;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid#e0402a;
}

.form-style-10 h1>span {
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-10 label {
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}

.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="check"],
.form-style-10 input[type="email"],
.form-style-10 input[type="tel"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
     background: #F8F8F8;
    
}

.form-style-10 .section {
    font: normal 20px 'Bitter', serif;
    color:#e0402a;
    margin-bottom: 5px;
   
     
}

.form-style-10 .section span {
    background: #e0402a;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.form-style-10 input[type="button"],
.form-style-10 input[type="submit"] {
    background: #e0402a;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid#e0402a;
    font-size: 15px;
}

.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover {
    background:#e0402a;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.button {
  background: #e0402a;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter',
  serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid#e0402a;
  font-size: 15px;
}

a.active {
    color: #963c03;
    font-style: normal;
    font-weight: 500;
}

a {
    color: #6d6666;
    font-family: fbft;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

a:hover {
    color: rgb(51, 204, 204);
    transition: color 0.2s ease;
}
a:visited {
    color:#328377;
    text-decoration: none;
}